# 时间序列

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
data = pd.read_csv('monthly-boston-armed-robberies-j.csv',header=0)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 2 columns):
Month                                                                      119 non-null object
Monthly Boston armed robberies Jan.1966-Oct.1975 Deutsch and Alt (1977)    118 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.9+ KB

In [8]:
train = data.iloc[:12,:]
test = data.iloc[12:,:]

In [11]:
train.head()

,Month,Monthly Boston armed robberies Jan.1966-Oct.1975 Deutsch and Alt (1977)
0,1966-01,41.0
1,1966-02,39.0
2,1966-03,50.0
3,1966-04,40.0
4,1966-05,43.0

In [10]:
from sklearn.metrics import mean_squared_error

154452992

In [ ]:
from sklearn.model_selection import train_test_split

x_trian, x_val, y_train, y_val = train_test_split(train)